attrs==18.2.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2017.11.5
chardet==3.0.4
cmd2==0.9.6
colorama==0.4.0
demjson==2.2.4
idna==2.5
lxml==4.1.1
Mypackage==0.1
numpy==1.13.3
olefile==0.44
Pillow==8.2.0
psycopg2==2.7.3.1
PyMySQL==0.8.0
PyPDF2==1.26.0
pyperclip==1.7.0
pyreadline==2.1
python-docx==0.8.6
requests==2.18.4
requests2==2.16.0
selenium==3.5.0
six==1.11.0
soupsieve==1.9
urllib3==1.21.1
wcwidth==0.1.7
xmltodict==0.11.0
